*{
    /* background-color: rgb(155, 194, 84); */
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
.container{
    /* background-color:rgb(81, 167, 167); */
   
    box-shadow:0 10px 10px -7px rgba(0,0,0,0.4);;
    width:700px;
    
}

.header{
    font-family:sans-serif;
    text-align: center;
    padding-right: 10px;
    padding-top: 19px;
    padding-bottom: 10px;
    border: 2px solid rgb(126, 120, 40);
    background-color: rgb(172, 132, 23);
}
.heading{
    margin-bottom: 10px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.details{
    text-align: center;
    padding-right: 10px;
    padding-top: 19px;
    background-color: rgb(199, 133, 174);
    width:700px;
    display: block;
    /* margin-bottom: 10px} */ 
            
}

.ID,
.ID-field,
.vehclName,
.v-field,
.brandName,
.brand-field,
.Regno,
.reg-field,
.color,
.color-field,
.custName,
.cust-field{
    display: inline-block; 
}



.ID{
    width: 100px;
    text-align: left;
}
.vehclName{
    width:150px;
    text-align: left;
}
.brandName{
    width: 100px;
    text-align: left;
    
}
.Regno{
    width: 150px;
    text-align: left;
}
.color{
    width:150px;
    text-align: left;
}
.custtName{
    width:400px;
    /* text-align: left; */
}


.field1,
.field2{
    display: inline-block;
}
.field3,
.field4{
    display: inline-block;
}
.field5,
.field6{
    display: inline-block;
}
.field2{
    margin-left: 40px;
}
.field3{
    position: relative;
    right: 80px;
}
.brand-field{
    position: relative;
    left:8px ;
}
.field4{
    position: relative;
    left: 75px;
}
.reg-field{
    position: relative;
    right: 3px;
}
.field5{
    position: relative;
    right: 20px;
}
.color-field{
    position: relative;
    right:45px;
}
.cust-field{
    position: relative;
    left:14px;
}
.custName{
    position: relative;
    right:25px;
}

table, td, th {
    border: 1px solid black;
    background-color: white;
  }
  
table{
    
    width: 70%;
    height:70px;
    
  }
  
  th {
    height: 20px;
    width: 20px;
  }
#btn1{
    color:white;
    background-color: rgb(55, 55, 143);
}
#btn2{
    color:white;
    background-color: red;
}

.table1{
    margin-top: 100px;
    position: relative;
    left:100px;
    padding-bottom: 100px;
}
.field1,
.field2,
.field3,
.field4,
.field5,
.field6{
    margin-top: 40px;
}
tr{
    transition:all .25s ease-in-out;
            
}
tr:hover{background-color:#EEE;cursor: pointer}